@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    width: 100%;
    margin: 0 auto;
    font-size: 18px;
    font-family: "Barlow", sans-serif;
    font-weight: 600;
  }

  h1,
  h2,
  h3 {
    font-family: "Fraunces", sans-serif;
    font-weight: 700 900;
  }

  h2 {
    color: hsl(213, 9%, 39%);
  }

  p {
    font-family: "Barlow", sans-serif;
    color: hsl(212, 27%, 19%);
  }

  .header-hero {
    background-image: url("images/mobile/image-header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  @media screen and (min-width: 640px) {
    .header-hero {
      background-image: url("images/desktop/image-header.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  @media screen and (min-width: 1024px) {
    .header-hero {
      background-image: url("images/desktop/image-header.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  @media screen and (max-width: 1024px) {
    .nav-links {
      @apply flex flex-col items-center bg-white absolute w-full top-[40px] left-0 text-slate-800 py-5 z-10 lg:text-white;
      transition: transform 0.3s ease-in-out;
    }
  }

  .hidden {
    display: none;
  }

  .nav-links li {
    @apply ml-[20px] p-5;
  }

  .nav-links a {
    @apply no-underline py-[10px] px-[15px];
  }

  .nav-links a:hover {
    @apply bg-yellow-500 lg:bg-white rounded-3xl text-black uppercase font-fraun font-black;
  }

  .split {
    color: hsl(212, 27%, 19%);
    @apply text-4xl mb-4;
  }

  .split-p {
    @apply leading-5;
    color: hsl(232, 10%, 55%);
  }

  .learn-more {
    @apply font-fraun font-bold inline mt-5 py-3 px-5  rounded-md uppercase no-underline;
    color: hsl(212, 27%, 19%);
  }

  .panel {
    @apply min-w-[300px] min-h-[80vh] place-content-end text-center p-[20px] box-border;
  }

  .graphic-design {
    background-image: url("images/desktop/image-graphic-design.jpg");
  }

  .graphic-design,
  .graphic-design p,
  .graphic-design h2 {
    color: hsl(167, 40%, 24%);
  }

  .photography {
    background-image: url("images/desktop/image-photography.jpg");
  }

  .photography,
  .photography p,
  .photography h2 {
    color: hsl(198, 62%, 26%);
  }

  .testimonial {
    @apply text-center max-w-[300px] m-[10px];
  }

  .testimonial img {
    @apply rounded-[50%] w-[100px] h-[100px] object-cover block ml-auto mr-auto;
  }

  .testimonial p {
    @apply m-0 italic;
  }

  .testimonial h3 {
    margin: 10px 0 5px;
  }

  .testimonial blockquote {
    @apply my-[10px] mx-[0];
  }

  .client {
    color: hsl(210, 4%, 67%);
  }

  .client-block {
    color: hsl(232, 10%, 55%);
    @apply text-base my-7;
  }

  .client-h3 {
    color: hsl(212, 27%, 19%);
    @apply font-bold;
  }

  .footer {
    background-color: hsla(168, 55%, 46%, 0.836);
    color: hsl(167, 40%, 24%);
  }
}
